/* foundation enforced classes */
.menu label {
	margin-right: 10px;
	margin-bottom: 0;
}

/* custom styling */
.interface_contents {
	margin-top: 30px;
	margin-bottom: 100px;
}
.interface_contents-folder span,
.interface_contents-file span {
	margin-left: 10px;
}
.interface_contents-folders,
.interface_contents-files {
	margin-left: 0px !important;
}
.interface_contents-folder:hover,
.interface_contents-file:hover {
	background: #eee;
	padding: 4px;
	cursor: pointer;
}
.interface_contents-breadcrumb {
	cursor: pointer;
	color: #00F;
	text-decoration: underline;
}
.interface_contents-breadcrumb:hover {
	
}
.interface_contents-folder .fa {
	color: #f2da49;
}
.interface_contents-file .fa {
	color: #999;
}
.loader {
	display: none;
	position: fixed;
	z-index: 999;
	height: 14em;
	width: 14em;
	overflow: show;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}